<%- include("partials/header") -%>

    <div id = "heading" class="box">
      <h1>Matched Posts</h1>
    </div>
    <div class="">

      <% found_posts.forEach(function(element) { %>
        <div class="post">
          <h3><%= element['title']%></h3>
          <p><%= element['content']%></p>
        </div>
      <%  }); %>

    </div>


<%- include("partials/footer") -%>
