<%- include("partials/header") -%>

    <div id = "heading" class="box">
      <%if (fpost.title !== "No posts found"){%>
        <h1>Matched Post</h1>
      <%}%>
    </div>
    <div class="">
        <div class="post">
          <h3><%= fpost.title%></h3>
          <p><%= fpost.content%></p>
        </div>
    </div>


<%- include("partials/footer") -%>
