
body{
  font-family: 'Montserrat-Bold', sans-serif;
  text-align: center;
  background-color: #ffe2ff;
  color: white;

}

p{
  color: white;
}

form{
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
}

hr{
  margin: 6%;
}
/* Headings */

h5{
  font-family: 'Montserrat-Bold';
  font-size: 2.5rem;
  color: white;
}

input{
  margin: 10% 0%;
}

#remember{
  margin: 8% 0 0 0;
}


/* Containers */

.container-fluid{
  padding: 1.5% 5%;
  margin: auto;
  display: inline-block;
}

/* Navigation Bar */

.navbar-brand{
  font-size: 5rem;
  font-family: "Ubuntu";
  font-weight: bold;

}

.navbar-toggler{
  color: white;
}

.navbar{
  padding: 0 0 2.5rem;
}

.navbar-brand{
  color: grey;
}

.nav-link{
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
}

.nav-item{
  padding: 0 18px;
}


/* Main Section */

.mainsec{
  position: relative;
  display: inline-block;

}
.righttcol{
  position: relative;
  text-align: center;
  background-color: grey;
}

#welctext{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}


.covr-img{
  position: absolute;
  left:0%;
  top:0%;
  width:100%;
  height: 100%;
  opacity: 80%;
}


.login-heading {
  font-weight: 300;
}

.btn-block{
  display: inline-block;
  margin: 2%;
  width:60%;

}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
